<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <input id="socketio-baseurl" type="hidden" value="{{ socketio_baseurl }}">
        <input id="api-baseurl" type="hidden" value="/{{ game.id }}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
